:root {
    /* Accent colors */
    --accent: #987259;

    /* Dark colors */
    --dark: #101026;

    /* Light colors */
    --light: #FFFFFF;
    --grey: #EFEFEF;
}

::selection {
    background: var(--accent);
    color: var(--light);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

html, body{
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    z-index: 5;
}

p,
span {
    font-size: 15px;
    line-height: 24px;
    color: var(--dark);
}

a {
    color: var(--accent);
    text-decoration: none;
}

section, header {
    margin: 0 110px;
}

section {
    height: 100vh;
    position: relative;
}

button {
    background: var(--accent);
    border: 0;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 4px;
    color: var(--light);
    transition: .2s;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}


.wave-top {
    position: absolute;
    bottom: 0;
    margin-left: -110px;
}

.wave-bottom {
    position: absolute;
    top: 0;
    margin-left: -110px;
}

.center-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}





/* Navigation Styling */

nav {
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: var(--light);
}

nav img {
    height: 35px;
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}

nav .navlinks {
    position: absolute;
    right: 110px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    transform: translateY(-50%);
}

nav .navlinks a {
    text-align: right;
    padding: 37px 40px;
    color: var(--dark);
}

nav .navlinks a:hover {
    border-bottom: 3px solid #c3c3c3;
}

nav .navlinks a.active {
    border-bottom: 3px solid var(--accent);
}









/* Hero styling */
header {
    height: 100vh;
    position: relative;
}

header h1 {
    font-size: 110px;
    color: var(--accent);
    max-width: 80%;
    line-height: 100px;
}

header h2 {
    font-weight: 300;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header a:last-of-type button {
    background: var(--dark);
}






/* About section styling */

.center-content h3 {
    font-size: 50px;
    line-height: 50px;
}

.center-content p {
    width: 40%;
    margin-top: 10px;
}

.center-content button {
    margin-top: 10px;
}

.half-image {
    width: calc(50% + 110px);
    overflow: hidden;
    position: absolute;
    right: -110px;
    z-index: -1;
    height: 100vh;
}

.half-image img {
    height: 100%;
    position: absolute;
    left: 0;
}







/* Featured Product Styling */

#featured-products h3 {
    text-align: center;
}

.featured-container {
    width: calc(100vw - 220px);
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.featured-product-container {
    background: var(--grey);
    width: 200px;
    height: 75px;
    border-radius: 18px;
    position: relative;
    padding: 75px 50px 20px;
    text-align: center;
    cursor: pointer;
}

.featured-product img {
    position: relative;
    bottom: -75px;
    width: 60%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s ease-in-out;
}

.featured-product {
    cursor: pointer;
}

.featured-product button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 80px;
    background: var(--dark);
}

.featured-product h5 {
    font-size: 20px;
}

.featured-product p {
    width: 100%;
}

.featured-product:hover img {
    bottom: -65px;
}

.featured-product:hover button {
    background: var(--accent);
}







/* Footer styling */

footer {
    height: 500px;
    background: var(--dark);
    color: var(--light);
    padding: 110px;
}

.footer-column {
    width: 33.33%;
    float: left;
}

.footer-column h6 {
    font-size: 20px;
    color: var(--light);
}

.footer-column p {
    color: var(--light);
    display: inline;
}

.footer-column span {
    font-weight: 600;
    display: block;
    padding-top: 20px;
    color: var(--light);
}

.footer-column img {
    height: 25px;
    display: inline;
}

.footer-column.social-media p {
    margin-left: 10px;
}

/*ANTON - FOREDRAG OG KURSER*/

.forlanger {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  margin-left: -110px;
  padding: 0 110px;
}

.overskrift-tekst {
  font-size: 110px;
  color: white;
  top: 150px;
  position: relative;
  background-color: var(--dark);
}

.underoverskrift {
  font-size: 43px;
  color: white;
  top: 300px;
  left: 0px;
  position: absolute;
  background-color: var(--dark);
}

#side-overskrift {
  position: relative;
  height: 50vh;
}

#erfaring {
  width: 100%;
  position: relative;
  height: 120vh;
}

.erfaring-text {
  width: 40%;
  float: left;
}

.erfaring-text p {
  width: 100%;
}

.erfaring-overskrift {
  font-size: 40px;
}

.erfaring-billede {
  width: 30%;
  position: absolute;
  float: right;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.erfaring-billede img {
  width: 100%;
}

#laringmateriale {
  top: -250px;
}

#laringmateriale h4 {
  text-align: center;
  font-size: 40px;
}

#laringmateriale .center-content {
  width: 100%;
}

.foredrag-billede {
  width: 45%;
  position: relative;
  float: left;
  transform: translateY(-50%);
}

.foredrag-billede img {
  width: 100%;
}

.foredrag-text {
  width: 40%;
  float: left;
  position: absolute;
  left: 60%;
  top: -10%;
  transform: translateY(-50%);
}

.foredrag-text p {
  width: 100%;
}

.foredrag-text h4 {
  font-size: 40px;
}

#mereforedrag .center-content {
  width: 100%;
}

#mereforedrag {
  top: -150px;
}
/* End of Foredrag subpage (ANTON) */





/* Contact subpage (THEA) */
#contact-section .center-content {
    width: 100%;
    margin-top: 20px;
    height: 100vh;
    position: absolute;
    top: 950px;
}

#contact-section .center-content p {
    width: 100%;
    margin-top: 20px;
}

.contact-h3 {
    position: relative;
    top: -260px;
}

.contact-p {
    position: relative;
    top: -260px;
    width: 100%;
}

.contact-form {
    height: 80vh;
    width: 45%;
    display: flex;
    position: relative;
    top: 350px;
}

.form {
    height: 35vh;
    width: 80%;
    max-width: 50vw;
    position: relative;
    top: 25px;
}

.form input {
    margin-top: 20px;
    padding: 7px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #303030;
    font-size: 18px;
}

.form textarea {
    margin-top: 20px;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    height: 20vh;
    border: 1px solid #303030;
    font-size: 18px;
}

.form input::placeholder {
    padding-left: 5px;
}

.form textarea::placeholder {
    padding-left: 5px;
}

.forms-btn {
    position: absolute;
    top: 460px;
    right: 140px;
}

#popup{
    display: none;
    position: relative;
    transform: translate(-50%,-50%);
    top: -300px;
    left: 50%;
    height: 300px;
    width: 500px;
    background: white;
    border-style: groove;
    border-radius: 5px;
  }

  #popup.active{
    display: block;
  }

  #popup h1{
    text-align: center;
    margin-top: 50px;
    font-size: medium;
  }

  #popup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    visibility: hidden;
  }

  #popup-besked{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: -100px;
  }

  #confirm-btn {
    background: var(--accent);
    border: 0;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 4px;
    color: var(--light);
    transition: .2s;
    cursor: pointer;
    transform: translateX(127%);
  }

  #confirm-btn:hover {
    opacity: .8;
  }



.contact-image {
    width: calc(50% + 110px);
    overflow: hidden;
    position: absolute;
    right: -110px;
    top: -100px;
    z-index: -1;
    height: 100vh;
}

.contact-image img {
    height: 100%;
    position: absolute;
    left: 0;
}
/* End of Contact subpage (THEA) */



/*MAJA - WEBSHOP*/


#unikt {
  width: 100%;
  position: relative;
  height: 120vh;
}

.unikt-text {
  width: 50%;
  float: left;
}

.unikt-text p {
  width: 100%;
}

.unikt-overskrift {
  font-size: 40px;
}

#product-overview{
  margin-top: -200px;
  height: auto;
}


.webshop-container {
    width: calc(100vw - 220px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.webshop-product img {
    position: relative;
    width: 230px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s ease-in-out;
    border-radius: 18px;
}

.webshop-product-container {
    height: 100px;
    width: 100%;
    background: var(--grey);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-top: -20px;
}

.webshop-product-container h5{
    padding-left: 20px;
    padding-top: 25px;
}

.webshop-product-container p{
    padding-left: 20px;
    padding-top: 10px;
}

.webshop-product {
    cursor: pointer;
    position: relative;
}


.webshop-product h5 {
    font-size: 17px;
}

.featured-product p {
    width: 100%;
}

.featured-product:hover img {
    bottom: -65px;
}

.wave-top {
    position: relative;
    bottom: 0;
    margin-left: -110px;
    margin-bottom: -10px;
}



.comingsoon{
    height: 100%;
    width: 100%;
    background: rgb(152 114 89 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 18px;

}

.comingsoon h2{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 35%;
    left: 17%;
    z-index: 50;
}
/*LAUGE - PRODUKT SIDE*/


.product-hero {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  min-height: 900px;
}

.product-hero-images img.active {
    width: 555px;
    object-fit: cover;
    height: 555px;
}

.product-image-list {
  display: flex;
  list-style-type: none;

}
.image-item {
  padding-right: 10px;
}
.product-heading {
  font-size: 45px;
}
.hero-text-container {
 margin-left: 5%;
}

.product-amount {
  display: flex;
  width: 100%;
  height: 100px;

}
.product-amount {
margin-top: 10%;
}
.minus-but {
  display:block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  background-color: transparent;
  color: black;
  padding: 0px;
  margin-right: 10px;
}
.input-amount {
width: 25px;
height: 45px;
outline: none;
background-color: transparent;
border: none;
text-align: center;
}
.plus-but {
  display:block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  background-color: transparent;
  color: black;
  padding: 0px;
  margin-left: 10px;
}
.antal {
  padding-top: 10px;
  padding-right: 10px;
}
.calltoaction {
  width: 375px;
  height: 55px;
}

.materials {
  margin-top: 15px;
}
.material {
  color: #BABABC;
}
.controller-list {
display: flex;
margin-bottom: 10%;
margin-top: 10%;
cursor: pointer;
}
.controller-list > img {
padding-right: 15px;
}
.controller-list2 {
display: flex;
margin-bottom: 10%;
margin-top: 10%;
}
.controller-list2 > img {
padding-right: 15px;
}
.controller-list3 {
display: flex;
margin-bottom: 10%;
margin-top: 10%;
}
.controller-list3 > img {
padding-right: 20px;
}
.info-container {
display: flex;
}
.billedeinfo {
  height: 500px;
  width: 400px;;

}
.overskrift-info {
 font-size: 50px;

}
.info-text-skalle {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-container {
width: 100%;
}
#product-info {
  width: 100%;
  height: 80vh;
  margin: 0 110px;
}
.billedeinfo {
  margin-right: 250px;
}
